* {
  font-family: 'Roboto', sans-serif;
}

/*clases reutilizables*/

.color-fond {
  background-color: #2b2b2b;
  color: #db8239;
}

/*vista splash*/

.splash {
  height: 100vh;
  font-size: 3em;
}

.logo {
  transform: translateY(500%);
}

/*clases para el titulo*/

.size-title {
  font-size: 3em;
}

.mrg-search {
  margin-bottom: 50px;
}

.back-search {
  background-color: #2b2b2b;
  color: #fff;
}

header hr {
  border: 1px solid #fff;
  margin-top: 0px;
  width: 85%;
}

.food-img {
  width: -webkit-fill-available;
}

.img {
  height: auto !important;
}

.container-restaurants {
  padding: 0px 30px;
}

.transition-img {
  height: 250px;
  opacity: 0.5;
  width: 250px;
}

.form-control {
  cursor: pointer;
}

@media (max-width: 768px) {
  .food-img {
    height: 130px !important;
  }
}


@media (min-width: 768px) {
  .food-img {
    height: 170px !important;
  }
}
